
@{
	Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Access Denied</title>
    <link rel="stylesheet" href="style.css" />
    <style>
        body{
            background-color:black;
            color:white;
        }

        h1{
            color:red;
        }
        h6{
            color:red;
            text-decoration:underline;
        }
    </style>
</head>
