@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SignUpModel
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<h1>SignUp</h1>
@* <form class="login100-form validate-form">
	<span class="login100-form-logo">
		<i class="zmdi zmdi-landscape"></i>
	</span>

	<span class="login100-form-title p-b-34 p-t-27">
		Log in
	</span>

	<div class="wrap-input100 validate-input" data-validate="Enter username">
		<input class="input100" type="text" name="username" placeholder="Username">
		<span class="focus-input100" data-placeholder="&#xf207;"></span>
	</div>

	<div class="wrap-input100 validate-input" data-validate="Enter password">
		<input class="input100" type="password" name="pass" placeholder="Password">
		<span class="focus-input100" data-placeholder="&#xf191;"></span>
	</div>

	<div class="contact100-form-checkbox">
		<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
		<label class="label-checkbox100" for="ckb1">
			Remember me
		</label>
	</div>

	<div class="container-login100-form-btn">
		<button class="login100-form-btn">
			Login
		</button>
	</div>

	<div class="text-center p-t-90">
		<a class="txt1" href="#">
			Forgot Password?
		</a>
	</div>
</form> *@

<form asp-action="SignUp" methood="post">
	<div asp-validation-summary="All"></div>

	<input class="form-control" type="text" asp-for="FirstName" placeholder="FirstName" >
	<span asp-validation-for="FirstName"></span>
	<br/>

	<input class="form-control" type="text" asp-for="LastName" placeholder="LastName">
	<span asp-validation-for="LastName"></span>
	<br />

	<input class="form-control" type="email" asp-for="Email" placeholder="Email">
	<span asp-validation-for="Email"></span>
	<br />

	<input class="form-control" type="password" asp-for="Password" placeholder="Password" >
	<span asp-validation-for="Password"></span>
	<br />

	<input class="form-control" type="password" asp-for="ConfirmPassword" placeholder="ConfirmPassword">
	<span asp-validation-for="ConfirmPassword"></span>
	<br />

	<div class="wthree-text">
		<label class="anim">
			<input asp-for="Agree" type="checkbox" required=""/>
			<span>I agree to the terms & conditions</span>
		</label>
		<div class="clear"></div>
	</div>
	<input type="submit" value="SignUp" class="btn btn-primary"/>
</form>
<p class="text-light">Do you have an account?<a asp-action="Login">Login Now</a></p>