@model UserUpdateViewModel
<h1>Update User </h1>
<br />
<br />
<div class="row">

    <div class="col-6">
        <form asp-action="Update" asp-controller="User">
            <input hidden asp-for="Id"/>
            <div class="form-control">

                <label class="col-form-label" asp-for="@Model.UserName"></label>
                <input type="text" asp-for="@Model.UserName" class="form-control" readonly />
                <span asp-validation-for="@Model.UserName" class="text-danger"></span>

            </div>

            <div class="form-control">

                <input type="submit" value="Save" class="btn btn-primary"/>
                <a asp-validation-for="Index" class="btn btn-light">Back To List</a>

            </div>
        </form>

    </div>
</div>